<h4 md-dialog-title *ngIf="isEditing === false">Add New Meal</h4>
<h4 md-dialog-title *ngIf="isEditing === true">Edit Meal</h4>
<form (ngSubmit)="onSubmit()" [formGroup]="mealForm" novalidate>
  <md-dialog-content fxLayout="column">
    <md-input-container [dividerColor]="!mealForm.controls['name'].valid && (mealForm.controls['name'].touched || mealFormSubmitted) ? 'warn': 'primary'">
      <input md-input placeholder="Name" type="text" formControlName="name" />
      <md-hint class="error" *ngIf="mealForm.get('name').hasError('required') && (mealForm.get('name').touched || mealForm.submitted)">Name is a required field.</md-hint>
    </md-input-container>
    <md-select placeholder="Tags">
      <md-option [value]="'New'">New</md-option>
    </md-select>
    <md-input-container>
      <textarea md-input placeholder="Description" formControlName="description"></textarea>
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap="wrap">
      <md-input-container class="point-input" *ngFor="let group of groups" fxFlex="calc(50% - 12px)">
        <input md-input type="number" [formControlName]="group" />
        <span md-prefix [ngClass]="group">&nbsp;</span>
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button type="button" md-button md-dialog-close color="primary">Cancel</button>
    <button type="submit" md-button color="primary" *ngIf="isEditing === false">Add</button>
    <button type="submit" md-button color="primary" *ngIf="isEditing === true">Update</button>
  </md-dialog-actions>
</form>
