<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%"><h1>Users</h1></div>
  <div fxFlex><button md-button color="primary" (click)="showUserModal()">Add User</button></div>
</div>
<div class="card-container" fxLayout="row" fxLayoutAlign="start" fxLayoutWrap="wrap">
  <md-card *ngFor="let user of users" fxFlex="0 0 calc(20% - 24px)">
    <div class="md-card-title-container" fxLayout="row" fxLayoutAlign="start center">
      <img md-card-avatar [src]="'/assets/users/' + user.image" *ngIf="user.image">
      <span md-card-avatar *ngIf="!user.image" fxLayout="row" fxLayoutAlign="center center"><i class="material-icons">person</i></span>
      <md-card-title>{{user.name}}</md-card-title>
    </div>
    <md-card-content>
      <md-divider></md-divider>
      <div class="point-container" fxLayout="row" fxLayoutAlign="start" fxLayoutWrap="wrap">
        <span *ngFor="let group of groups" class="label" [ngClass]="getUserClass(group, user[group])" fxFlex="0 0 calc((100% / 7) - 12px">{{user[group]}}</span>
      </div>
      <md-divider></md-divider>
    </md-card-content>
    <md-card-footer>
      <button type="button" md-button color="primary" (click)="editUser(user)">Edit</button>
      <button type="button" md-button color="primary" (click)="showDeleteModal(user)">Delete</button>
    </md-card-footer>
  </md-card>
</div>