<div class="page-header">
  <h3>
    Meals <button md-button (click)="showMealModal()" class="pull-right"><i class="material-icons">add</i><span class="hidden-xs"> Add Meal</span></button>
  </h3>
</div>
<tdf-meal-modal [meal]="selectedMeal" [action]="action" (update)="update($event)"></tdf-meal-modal>
<tdf-delete-meal-modal [meal]="selectedMeal" [action]="action" (delete)="deleteMeal($event)"></tdf-delete-meal-modal>
<div *ngFor="let meal of meals">
  <!--<md-card-title>{{meal.name}}</md-card-title>
  <md-card-content>-->
    <md-grid-list cols="7" rowHeight="20px">
      <md-grid-tile *ngFor="let group of groups" [ngClass]="group">{{meal[group]}}</md-grid-tile>
    </md-grid-list>
  <!--</md-card-content>
  <md-card-actions>
    <button type="button" md-button color="primary" (click)="editMeal(meal)"><i class="material-icons">create</i><span class="hidden-xs"> Edit</span></button>
    <button type="button" md-button color="warn" (click)="showDeleteModal(meal)"><i class="material-icons">delete</i><span class="hidden-xs"> Delete</span></button>
  </md-card-actions>-->
</div>
<!--<table class="table">
  <thead>
    <tr>
      <th>Meal</th>
      <th>Points</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meal of meals">
      <td width="200">{{meal.name}}</td>
      --
      <td width="100"><span class="label label-green">{{meal.green}}</span></td>
      <td width="100"><span class="label label-purple">{{meal.purple}}</span></td>
      <td width="100"><span class="label label-red">{{meal.red}}</span></td>
      <td width="100"><span class="label label-yellow">{{meal.yellow}}</span></td>
      <td width="100"><span class="label label-blue">{{meal.blue}}</span></td>
      <td width="100"><span class="label label-orange">{{meal.orange}}</span></td>
      <td width="100"><span class="label label-teaspoon">{{meal.teaspoon}}</span></td>
      --
      <td width="400">
        <span *ngFor="let group of groups" class="label" [ngClass]="getMealClass(group, meal[group])">{{meal[group]}}</span>
      </td>
      <td width="100">
        <button type="button" md-button color="primary" (click)="editMeal(meal)"><i class="material-icons">create</i><span class="hidden-xs"> Edit</span></button>
      </td>
      <td width="100">
        <button type="button" md-button color="warn" (click)="showDeleteModal(meal)"><i class="material-icons">delete</i><span class="hidden-xs"> Delete</span></button>
      </td>
    </tr>
  </tbody>
</table>-->