<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="100%"><h1>Meals</h1></div>
  <div fxFlex><button md-button color="primary" (click)="showMealModal()">Add Meal</button></div>
</div>
<div class="card-container" fxLayout="row" fxLayoutAlign="start" fxLayoutWrap="wrap">
  <md-card *ngFor="let meal of meals" fxFlex="0 0 calc(20% - 24px)" fxLayout="column">
    <md-card-title>{{meal.name}}</md-card-title>
    <div md-card-image fxLayout="row" fxLayoutAlign="center center">
      <img [src]="'/assets/meals/' + meal.image" *ngIf="meal.image">
      <div *ngIf="!meal.image"><i class="material-icons">restaurant</i></div>
    </div>
    <md-card-content>
      <md-divider></md-divider>
      <div class="point-container" fxLayout="row" fxLayoutAlign="start" fxLayoutWrap="wrap">
        <span *ngFor="let group of groups" class="label" [ngClass]="getMealClass(group, meal[group])" fxFlex="0 0 calc((100% / 7) - 12px">{{meal[group]}}</span>
      </div>
      <md-divider></md-divider>
      <p class="description" *ngIf="meal.description">{{meal.description}}</p>
      <p class="description" *ngIf="!meal.description"><i>No description</i></p>
    </md-card-content>
    <md-card-footer>
      <button type="button" md-button color="primary" (click)="editMeal(meal)">Edit</button>
      <button type="button" md-button color="primary" (click)="showDeleteModal(meal)">Delete</button>
    </md-card-footer>
  </md-card>
</div>