<h4 md-dialog-title *ngIf="isEditing === false">Add New User</h4>
<h4 md-dialog-title *ngIf="isEditing === true">Edit User</h4>
<form (ngSubmit)="onSubmit()" [formGroup]="userForm" novalidate>
  <md-dialog-content fxLayout="column">
    <md-input-container [dividerColor]="!userForm.controls['name'].valid && (userForm.controls['name'].touched || userFormSubmitted) ? 'warn': 'primary'">
      <input md-input placeholder="Name" type="text" formControlName="name"/>
      <md-hint class="error" *ngIf="userForm.get('name').hasError('required') && (userForm.get('name').touched || userForm.submitted)">Name is a required field.</md-hint>
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutWrap="wrap">
      <md-input-container class="point-input" *ngFor="let group of groups" fxFlex="0 0 calc(50% - 12px)">
        <input md-input type="number" [formControlName]="group" />
        <span md-prefix [ngClass]="group">&nbsp;</span>
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button type="button" md-button md-dialog-close color="primary">Cancel</button>
    <button type="submit" md-button color="primary" *ngIf="isEditing === false">Add</button>
    <button type="submit" md-button color="primary" *ngIf="isEditing === true">Update</button>
  </md-dialog-actions>
</form>
