$green: #00A652;
$purple: #605CA8;
$red: #FE0000;
$yellow: #FEF200;
$blue: #0072BB;
$orange: #F36523;
$teaspoon: #999999;

.loading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

table.table > thead > tr > th,
table.table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}

.label.label-green,
.label.label-purple,
.label.label-red,
.label.label-yellow,
.label.label-blue,
.label.label-orange,
.label.label-teaspoon,
.label.label-disabled {
  text-shadow: 1px 1px 0px rgba(50,50,50,0.5);
  padding: .4em .8em .5em;
  margin: 0 .5rem;
  width: 3.5rem;
  display: inline-block;
}

.label-green {
  background-color: $green;
}

.label-purple {
  background-color: $purple;
}

.label-red {
  background-color: $red;
}

.label-yellow {
  background-color: $yellow;
}

.label-blue {
  background-color: $blue;
}

.label-orange {
  background-color: $orange;
}

.label-teaspoon {
  background-color: $teaspoon;
}

.label-disabled {
  background-color: #DDDDDD;
  color: #BBBBBB;
}

.form-control, .form-group .form-control {
  &.green {
    background-image: linear-gradient($green, $green),linear-gradient(#D2D2D2, #D2D2D2);
  }
  &.purple {
    background-image: linear-gradient($purple, $purple),linear-gradient(#D2D2D2, #D2D2D2);
  }
  &.red {
    background-image: linear-gradient($red, $red),linear-gradient(#D2D2D2, #D2D2D2);
  }
  &.yellow {
    background-image: linear-gradient($yellow, $yellow),linear-gradient(#D2D2D2, #D2D2D2);
  }
  &.blue {
    background-image: linear-gradient($blue, $blue),linear-gradient(#D2D2D2, #D2D2D2);
  }
  &.orange {
    background-image: linear-gradient($orange, $orange),linear-gradient(#D2D2D2, #D2D2D2);
  }
  &.teaspoon {
    background-image: linear-gradient($teaspoon, $teaspoon),linear-gradient(#D2D2D2, #D2D2D2);
  }
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
  &.green {
    color: $green;
  }
  &.purple {
    color: $purple;
  }
  &.red {
    color: $red;
  }
  &.yellow {
    color: $yellow;
  }
  &.blue {
    color: $blue;
  }
  &.orange {
    color: $orange;
  }
  &.teaspoon {
    color: $teaspoon;
  }
}

input.green,
input.purple,
input.red,
input.yellow,
input.blue,
input.orange,
input.teaspoon, {
  text-align: center;
}

input.green {
  border-color: $green;
}

input.purple {
  border-color: $purple;
}

input.red {
  border-color: $red;
}

input.yellow {
  border-color: $yellow;
}

input.blue {
  border-color: $blue;
}

input.orange {
  border-color: $orange;
}

input.teaspoon {
  border-color: $teaspoon;
}

.form-group.has-feedback .form-control-feedback {
  display: none;
}

.form-group.has-feedback.has-error .form-control-feedback {
  display: block;
  right: 15px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group hr {
  margin-bottom: 0;
}

.modal-body hr {
  margin-top: 0;
  margin-bottom: 15px;
}

.btn > span {
  vertical-align: middle;
}